// Navigation Styles here


header {
    display: flex;
    margin-top: 15px;
    border-bottom: 1px dashed black;

    div {
        display:flex;
        max-width: 800px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 7.5px;
    
    .resume-title{
        width: 49.5%;
    }
    nav {
        display: flex;
        justify-content: flex-end;
        width: 49.5%;
        a{
        margin: 0px 1rem;
        }
    }
    @media @phone {
        
    }
}
}
