// Navigation Styles here


header {
    display: flex;
    align-content: center;
    margin: 25px 0;
    padding-bottom: 20px;
    border-bottom: 2px dashed @navigation-border;

    div {
        display:flex;
        align-items: center;
        max-width: 800px;
        width: 100%;
        margin: 0 auto;
        
    
    .resume-title{
        width: 49.5%;
    }
    nav {
        display: flex;
        justify-content: flex-end;
        width: 49.5%;
        a{
        margin: 0px 1rem;
        }
    }
    @media @phone {
        div {
            display:flex;
            flex-wrap:nowrap;
            .resume-title{
                width: 100%;
            }
            nav {
                width: 100%;
            }
        }
        
    }
}
}
